
// Colori

$mainColor: (#1473e6);
$mainColorDark: (#0d66d0);
$textColor: (#2c2c2c);

// Fonts size

$fontNormal: 18px;
$fontTitle: 38px;

// Containers

$smallContainer: 800px;
$normalContainer: 1280px;
